/*svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
   set height to pixels if you want angle to change with screen width 
}*/




body{
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: skyblue;
  font-size: 24px;
}

#image1, #image2, #image3{
  filter: grayscale(1);
  object-fit: fill;
  width: 470px;
  height: 270px;
  transition: width 1s, height 1s;  
  border: 5px, solid, #555;
}

#image1:hover,#image2:hover,#image3:hover{
  filter: grayscale(0);
  /*transform: scale(1.1);*/
  width: 500px;
  height: 300px;

}

#header{
  display: flex;
  flex: 1;
  align-items: center;  
  justify-content: center;
  max-height: 200px;
  margin: 0;
}

#mainShowcaseBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex: 1;
  gap: 100px;
}

#mainShowcaseBox div,a {
  display: flex;
  flex: 1;
  justify-content: center;
  max-width: 470px;
  max-height: 270px;
  gap: 24px;
  margin-top: 36px;
}

#dalsieBox{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

#dalseibox div{
  display: flex;
  flex: 1;


}

#footerBox{
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color:#0d1117 ;
  max-height: 40px;
  gap: 16px;
}

#footerBox div,a{
  color: white;
  align-items: center;
  margin-top: 4px;
}

#profileLinkTag{
  max-width: 38px;
}

.multiline{
  white-space: pre-wrap;
}